.container {
  height: 95%;
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;

  #show-employee-btn {
    height: 10%;
    width: 15%;
    justify-self: flex-start;

    font-size: 1.5rem;
    opacity: 1;
    background: transparent;
    transition: all .5s;
  }
  #show-employee-btn:hover {
    cursor: pointer;;
    background-color: aquamarine;
  }
  #show-employee-btn.fade {
    height: 0;

    opacity: 0;
    transition: all .5s;
  }

  &__employee-container {
    position: relative;
    height: 0%;
    width: 90%;
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr;

    opacity: 0;
    transition: all .5s;
    background-color: bisque;

    #employee-close {
      position: absolute;
      left: 97%;
      top: 6%;
    }

    #employee-detail {
      height: 100%;
      width: 90%;

      background-color: aliceblue;
      border-radius: 10px;
    }
  }
  #employee-container.open {
    height: 80%;

    opacity: 1;
    transition: all .5s;
  }
}

#footer{
  height: 5%;
  position: absolute;
  bottom: 0;
}
